<div class="container">
    <h1>{{article.title}}</h1>
    <p>{{article.content}}</p>
    <p>{{article.author}}</p>
    <hr>
    <a href="/editArticle/{{article.id}}">[редактировать]</a>
    <a href="/deleteArticle/{{article.id}}" class="text-danger">[удалить]</a>
</div>